body {
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}
.content {	
	max-width: 510px;
	margin: auto;
	text-align: center;
	color: white;	
	padding: 10px;
}
#photo {
	margin: 20px auto;
	border-radius: 360px;
	height: 240px;
	border: 10px solid white;
}
ul, p, h1 {
	margin:0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}
ul {
	font-size: 16px;
	text-align: left;
}
p {
	color: #ffee63;
}
h1 {
	color: yellow;
}
#contacts {
	position: relative;
	z-index: 1;
}
a {		
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	text-decoration: none;
	width: auto;
	height: 22px;	
	color: white;
	padding: 2px 3px 7px 3px;	
	font-size: 20px;	
	border-radius: 4px;
	margin-top: 5px;
}
.icon {
	height: 22px;
	position: relative;
	top: 2px;
	right: 3px;
}
#button_vk:hover, #button_telegram:hover, #button_mail:hover {
	border: 3px solid #ffee63;	
}
#button_vk {
	background-color: #4c75a3;
	border: 3px solid #4c75a3;
	border-bottom-color: #234d7c;
}
#button_telegram {
	background-color: #0088cc;
	border: 3px solid #0088cc;
	border-bottom-color: #006ea5;
}
#button_mail {
	background-color: #dd4b39;
	border: 3px solid #dd4b39;
	border-bottom-color: #b62413;
}
span { 
	display: inline-block;
	border-radius: 360px;
	background-color: rgba(0,0,0,0.3);
	padding: 2px 5px 5px 5px;
	margin: 2px;
}
