@font-face {
	font-family: Orbitron;
	src: url(fonts/Orbitron-light.ttf);
}
body {
	font-family: Orbitron;
	color: black;
}
header {
	display: inline-block;
	position: relative;
	width: 100%;	
}

#head_logo-pic {
	display: inline;
	width: 100px; 
	margin: 10px 5px 0px 10px;
}

#head_logo-text {
	display: inline-block;
	width: 150px;
	margin: 10px 0px 0px 10px;
}

.head_menu {
	display: inline-block;
	list-style: none;	
	margin: 0px 0px 0px 50px;
}

.head_menu a {
	text-decoration: none;
	display: block;	
	font-size: 24px;	
	text-align: left;	
	border: 2px solid white;
}

.head_menu a:hover {
	border: 2px solid #68b8be;
}

#call-me {
	list-style: none;
	border-style: none;
	position: relative;
	display: inline;
	float: right;
	right: 25%;
	margin-top: 40px;
	background: url(img/button_call-me.png);
	background-size: 100%;
	font-size: 18px;
	font-family: Orbitron;
	color: white;
	text-align: center;
	width: 204px;
	height: 68px;	
}

.social_icons {
	float: right;
	left: 10%;	
	margin: 10px 0px 0px 10px;
	position: relative;	
	max-width: 150px;
}

.social_icons a {
	text-decoration: none;	
}

.social_icons a img {
	height: 40px;	 
}

#about-me {
	padding-top: 15px;
	text-align: center;
	background: url(img/background_about-me.jpg) no-repeat;
	background-size: cover;
}

.orange {
	color: #f26b21;
}

.blue {
	color: #68b8be;
}

.about-me_text {
	padding-top: 60px;	
	max-width: 550px;
	margin-left: 295px;
}