@font-face {
    font-family: 'Flow';
    src: url('Flow/Flow.eot');
    src: url('Flow/Flow.eot') format('embedded-opentype'),
         url('Flow/Flow.woff2') format('woff2'),
         url('Flow/Flow.woff') format('woff'),
         url('Flow/Flow.ttf') format('truetype'),
         url('Flow/Flow.svg#Flow') format('svg');
}
@font-face {
    font-family: 'Flow_B';
    src: url('Flow_B/Flow_B.eot');
    src: url('Flow_B/Flow_B.eot') format('embedded-opentype'),
         url('Flow_B/Flow_B.woff2') format('woff2'),
         url('Flow_B/Flow_B.woff') format('woff'),
         url('Flow_B/Flow_B.ttf') format('truetype'),
         url('Flow_B/Flow_B.svg#Flow_B') format('svg');
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat.eot');
    src: url('montserrat/montserrat.eot') format('embedded-opentype'),
         url('montserrat/montserrat.woff2') format('woff2'),
         url('montserrat/montserrat.woff') format('woff'),
         url('montserrat/montserrat.ttf') format('truetype'),
         url('montserrat/montserrat.svg#montserrat') format('svg');
}
@font-face {
    font-family: 'montserratbold';
    src: url('montserratbold/montserratbold.eot');
    src: url('montserratbold/montserratbold.eot') format('embedded-opentype'),
         url('montserratbold/montserratbold.woff2') format('woff2'),
         url('montserratbold/montserratbold.woff') format('woff'),
         url('montserratbold/montserratbold.ttf') format('truetype'),
         url('montserratbold/montserratbold.svg#montserratbold') format('svg');
}
@font-face {
    font-family: 'MullerLight';
    src: url('MullerLight/MullerLight.eot');
    src: url('MullerLight/MullerLight.eot') format('embedded-opentype'),
         url('MullerLight/MullerLight.woff2') format('woff2'),
         url('MullerLight/MullerLight.woff') format('woff'),
         url('MullerLight/MullerLight.ttf') format('truetype'),
         url('MullerLight/MullerLight.svg#MullerLight') format('svg');
}
@font-face {
    font-family: 'MullerMedium';
    src: url('MullerMedium/MullerMedium.eot');
    src: url('MullerMedium/MullerMedium.eot') format('embedded-opentype'),
         url('MullerMedium/MullerMedium.woff2') format('woff2'),
         url('MullerMedium/MullerMedium.woff') format('woff'),
         url('MullerMedium/MullerMedium.ttf') format('truetype'),
         url('MullerMedium/MullerMedium.svg#MullerMedium') format('svg');
}
@font-face {
    font-family: 'MullerRegular';
    src: url('MullerRegular/MullerRegular.eot');
    src: url('MullerRegular/MullerRegular.eot') format('embedded-opentype'),
         url('MullerRegular/MullerRegular.woff2') format('woff2'),
         url('MullerRegular/MullerRegular.woff') format('woff'),
         url('MullerRegular/MullerRegular.ttf') format('truetype'),
         url('MullerRegular/MullerRegular.svg#MullerRegular') format('svg');
}
