@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat.eot');
    src: url('fonts/montserrat.eot') format('embedded-opentype'),
         url('fonts/montserrat.woff2') format('woff2'),
         url('fonts/montserrat.woff') format('woff'),
         url('fonts/montserrat.ttf') format('truetype'),
         url('fonts/montserrat.svg#montserrat') format('svg');
}
