@font-face {
    font-family: 'MullerMedium';
    src: url('fonts/MullerMedium.eot');
    src: url('fonts/MullerMedium.eot') format('embedded-opentype'),
         url('fonts/MullerMedium.woff2') format('woff2'),
         url('fonts/MullerMedium.woff') format('woff'),
         url('fonts/MullerMedium.ttf') format('truetype'),
         url('fonts/MullerMedium.svg#MullerMedium') format('svg');
}
